body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #333;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.container div {
    position: relative;
    border: 4px solid white;
    flex-basis: 10%;
    font-size: 8vw;
    font-weight: bold;
    padding: 5%;
    top: -80%;
    border-radius: 15%;
}

.c1 {
    position: relative;
    content: "";
    background-color: gray;
    border-radius: 15%;
    width: 150px;
    height: 150px;
    animation: os 1.5s ease-in-out forwards;
    animation-delay: 1s;
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.3s;
}

.c1:hover {
    transform: scale(0.9);
    transition: transform 0.3s;
}

.s2 {
    position: relative;
    content: "";
    animation: top;
    background-color: red;
    border-radius: 15%;
    width: 150px;
    height: 150px;
    animation: os 2.5s ease-in-out forwards;
    animation-delay: 2s;
    cursor: pointer;
    transform: perspective(600px) rotateY(-30deg);
    transition: transform 0.3s;
}

.s2:hover {
    transform: perspective(600px) rotateY(30deg);
    transition: transform 0.3s
}

.s3 {
    position: relative;
    content: "";
    animation: top;
    background-color: orangered;
    border-radius: 15%;
    width: 150px;
    height: 150px;
    animation: os 3.5s ease-in-out forwards;
    animation-delay: 3s;
    cursor: pointer;
    transform: perspective(600px) rotateY(-30deg);
    transition: transform 0.3s;
}

.s3:hover {
    transform: perspective(600px) rotateY(30deg);
    transition: transform 0.3s
}


@keyframes os {
    0% {
        transform: scaleY(1);
        top: -100vh;
        width: 100px;
    }
    100% {
        top: 0px;
        width: 300px;
    }
}